<h1>Generate Beater Account</h1>

<p>Welcome to SAO!</p>
<p>The server is currently unavailable due to Kirito being a badass.</p>
<p>We suggest playing Darker than Russian Girls Online in the meantime!</p>

<div class="span4">
  <%= link_to("Go to topics", "/topics", class: 'btn btn-primary btn-mini') %>
</div>